.img-container {
  margin-top: 7rem;
  width: 90vw;
  height: 480px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-container img {
  width: 80vw;
  margin: 0 auto;
  filter: saturate(200%);
}

.img-container::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--main-color);
  top: 0;
  right: 0;
  bottom: 0;
}
