/* .detect-form {
} */

/* .detect-modal-abc {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
} */

/* .detect-modal-image {
  width: 1rem;
  height: 1rem;
} */

.detect {
  background-color: #f5f5f5;
}

.detect-modal-info {
  background-color: #f5f5f5;
}
